.searchPageContainer {
    width: 90%;
    /* height: 3000px; */
    margin: 0 auto;
    /* outline: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}

.leftSide {
    width: 65%;
    height: 100%;
    /* outline: 1px solid #ccc; */
}

.book {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    align-items: start;
    margin-top: 10px;
}

.rightSide {
    width: 28%;
    height: 100%;
    margin-bottom: 20px;
    /* outline: 1px solid #ccc; */
}

.noResult {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    margin-top: 100px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0
}