* {
  box-sizing: border-box;
}

.ant-form-item-label>label {
  width: 100px;
  justify-content: flex-end;
}


:root {
  --primary-color: #4096ff;
  --primary-color-active: #096dd9;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: Consolas, "courier new";
  padding: 2px;
  font-size: 105%;
}