.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.row {
    margin-bottom: 30px;
}

.intro {
    font-weight: 300;
}

.edit {
    color: #4091f7;
    cursor: pointer;
}