/**
该文件是 App 根组件所对应的样式
**/
.layout {
  background: #fff;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.headerContainer {
  width: 100%;
  /* outline: 1px solid red; */
  height: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.logoContainer {
  width: 150px;
  height: 100%;
  /* outline: 1px solid red; */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 100%;
  height: 40px;
  /* outline: 1px solid red; */
  background: url("../../public/logo.png") no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(1.3);
}

.navContainer {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* outline: 1px solid greenyellow; */
}

.navgation {
  color: #fff;
  font-size: 16px;
}

.searchContainer {
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
}


.loginBtnContainer {
  width: 200px;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid blue; */
}

.content {
  width: 90%;
  /* height: 5000px; */
  background-color: #fff;
  margin: 100px auto 0 auto;
}

.footer {
  /* width: 100vw; */
  /* outline: 1px solid red; */
}

.footer p {
  text-align: center;
  color: rgb(102, 102, 102);
  margin: 0 auto;
}

.footer .links {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer .linkItem {
  margin-right: 10px;
  white-space: nowrap;
}


.paginationContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid blue; */
}

/* 媒体查询宽度小于768 */
@media (max-width: 768px) {
  .navContainer {
    display: none;
  }

  .header {
    width: 100vw;
    padding: 0 15px;
  }

  /* 移动端导航菜单容器样式 */
  .mobileNavContainer {
    margin-right: auto;
  }

  /* 移动端导航按钮样式 */
  .mobileNavButton {
    color: #fff;
    border: none;
    padding: 4px 12px;
    /* 过渡效果 */
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1) rotate(90deg);
    }
  }

  /* 移动端搜索框适配 */
  .searchContainer {
    width: 160px;
    /* flex: 1; */
  }

  /* 移动端搜索框内部组件调整 */
  .searchContainer .ant-space-compact {
    display: flex;
    width: 100%;
  }

  /* 移动端搜索框下拉选择器调整 */
  .searchContainer .ant-select {
    min-width: 40px;
  }

  .ant-select-dropdown {
    min-width: 45px;
  }


  /* 移动端头部容器适配 */
  .headerContainer {
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
  }

  /* 移动端logo适配 */
  .logoContainer {
    width: 70px;
  }


  /* 移动端登录按钮适配 */
  .loginBtnContainer {
    flex: 1;
    margin-left: auto;

  }

  /* 移动端内容区域适配 */
  .content {
    margin-top: 80px;
    width: 100%;
  }
}

.ai-chat-modal .ant-modal-content {
  padding: 0 3px;
}