.row{
    display:flex;
    height: 100px;
    align-items: center;
    background: linear-gradient(rgb(238, 237, 237),white);
}

.pageHeader {
    white-space: nowrap;
    margin: 20px;
    color: rgb(102, 102, 102);
    font-weight: 200;
}

.tagContainer {
    display: flex;
    flex:1;
    overflow-y: auto;
    margin-right: 20px;
}
