/* 问答页面样式 */

.issueContainer {
    width: 90%;
    /* height: 3000px; */
    margin: 0 auto;
    /* outline: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5vw;
    background-color: #fff;
}

.leftSide {
    /* width: 65%; */
    flex: 1;
    height: 100%;
    /* outline: 1px solid #ccc; */
}

.rightSide {
    width: 28%;
    height: 100%;
    margin-bottom: 20px;
    /* outline: 1px solid #ccc; */
}

.noIssue {
    text-align: center;
    font-weight: 200;
    font-size: 36px;
    margin-top: 100px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0
}