.gameContainer {
    width: 90%;
    margin: 0 auto;
    /* outline: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    align-items: start;
    margin-top: 10px;
}

.numberContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 200;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 40px 0
}